{% extends 'layouts/master.html' %}

{% block body %}
    <div class="col col-12">
        <h1>Tickets</h1>
        <a class="float-right btn btn-outline-primary" href="{% url 'tickets:create' %}">Crear <i class="fa fa-plus"></i></a>
        <hr>
        {% if tickets %}
            <div class="row">
                {% for ticket in tickets %}
            
                    <div class="card col col-12 col-md-4 ">
                        <div class="card-body">
                            <h5 class="card-title ">{{ticket.title}}</h5>

                            <a href="{% url 'tickets:details' ticket.id %}" class="card-link btn btn-outline-info"> 
                                <i class="fa fa-eye"></i>
                                Ver detalles
                            </a>
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
            
            
        {% else %}
            <h2>There are not tickets</h2>
        {% endif %}
    </div>
    
{% endblock body %} 